.banner_2 {
  .first {
    height: 66.4%;
    right: 51.3%;
  }
  .second {
    height: 66.6%;
    right: 27.8%;
  }
  .third {
    height: 66.4%;
    right: 4.6%;
  }
}

.wuxga_2 {
  .first {
    height: 46.1%;
    left: 5.2%;
  }
  .second {
    height: 46.1%;
    right: 35.5%;
  }
  .third {
    height: 46.1%;
    right: 5.1%;
  }
}
