@import './shared/core';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #ffffff;
  background-color: #1d1f24;
}

a {
  color: #00FFFF;
  text-decoration: none;
  transition: color 0.2s ease;
  
  &:hover {
    color: darken(#00FFFF, 15%);
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ffffff;
    background-color: #1d1f24;
  }
}
